*{
    padding: 0;
    margin: 0;
}
/*----------------Fuentes----------------*/
@font-face{
    font-family: "PresideBold";
    src: url(../fonts/PresideBold.ttf);
}
@font-face{
    font-family: "Anisha";
    src: url(../fonts/Anisha.otf);
}

@media screen and (max-width:1920px) and (min-width:950px){
/*-----------------Cuerpo-----------------*/
body{
    font-family: "Century Gothic";
    background-image: url(../img/5.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
 nav{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}
 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
 }
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a:before{
    content: "";
    width: 0px;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
nav ul li:hover a:before{
    width: 100%;
}

.logo{
    font-family: "PresideBold";
    font-size: 2em;
}
.logo a:before{
    content: "";
    width: 0px;
    height: 0px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
.logo:hover a:before{
    width: 0%;
}
/*-----------------Ubicacion-----------------*/
.aqui a:before{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
/*-----------------Contenedor-----------------*/
.contenedor{
    /* background-color: rgba(0,0,0,0.8);*/
    background-color: rgba(237, 214, 146, 0.9);
    /*background-color: rgba(224, 220, 255, 0.9);*/
    width: 70%;
    margin-top: 5%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    margin-left: 15%;
}
.contenedor .dinero {
    background-color: #6797A1;
    width: 40%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    color: #fff;
}
.contenedor .contenido{
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.contenido h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
/*----------------Derecha----------------*/
.contenedor .contenido2{
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    float: right;
}
.contenido2 h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.inn2{
    float: left;
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 40%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-bottom: 4%;
}
.inn22{
    float: left;
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 40%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-right: 5%;
}
.inn_2{
    float: right;
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 40%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-right: 5.5%;
    margin-top: -5%;
}
.envio2{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
    margin-top: 10%;
    margin-top: 1%;
}
.envio2:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.sub{
    margin-top: 10%;
    color: #6797A1;
}

#mostrar{
        display: none;
}

/*----------------------Mostrar Info----------------------*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   float: left;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #D4DBC8;
   color:#333;
   border-radius: 3px;
   width:50%;
    margin-left: 20%;
    
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.informacion{
    text-decoration: none;
    background-color: #66BB6A;
    border: none;
    padding: 8px;
    font-size: 1em;
    color: #fff;
    transition: 0.5s ease-out;
    
    }
    .modal-info{
        position: relative;
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        
    }
    .MInfoc{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfoc h2{
            text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    .MInfot{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfot h2{
             text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    
}

@media screen and (max-width:950px) and (min-width:760px){
/*-----------------Cuerpo-----------------*/
body{
    font-family: "Century Gothic";
    background-image: url(../img/5.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
 nav{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}
 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
 }
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a:before{
    content: "";
    width: 0px;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
nav ul li:hover a:before{
    width: 100%;
}

.logo{
    font-family: "PresideBold";
    font-size: 2em;
}
.logo a:before{
    content: "";
    width: 0px;
    height: 0px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
.logo:hover a:before{
    width: 0%;
}
/*-----------------Ubicacion-----------------*/
.aqui a:before{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
/*-----------------Contenedor-----------------*/
.contenedor{
    background-color: rgba(237, 214, 146, 0.9);
    width: 50%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 8%;
    padding: 15px;
    margin-bottom: 15%;
}
.contenedor .dinero {
    background-color: #6797A1;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    color: #fff;
}
.contenedor .contenido{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10%;
    margin-top: 10%;
}
.contenido h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
/*----------------Derecha----------------*/
.contenedor .contenido2{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}
.contenido2 h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.inn2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-top: 6%;
}
.inn22{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.inn_2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio2{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
    margin-top: 10%;
    margin-top: 1%;
}
.envio2:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.sub{
    margin-top: -10%;
    float: left;
    color: #6797A1;
}

    #mostrar{
        display: none;
    }
    /*----------------------Mostrar Info----------------------*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   float: left;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #D4DBC8;
   color:#333;
   border-radius: 3px;
   width:80%;
    margin-left: 5%;
    
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.informacion{
    text-decoration: none;
    background-color: #66BB6A;
    border: none;
    padding: 8px;
    font-size: 1em;
    color: #fff;
    transition: 0.5s ease-out;
    
    }
    .modal-info{
        position: relative;
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        
    }
    .MInfoc{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfoc h2{
            text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    .MInfot{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfot h2{
             text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    
}

@media screen and (max-width:760px) and (min-width:550px){
 /*-----------------Cuerpo-----------------*/
body{
    font-family: "Century Gothic";
    background-image: url(../img/5.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
 nav{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}
 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
 }
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a:before{
    content: "";
    width: 0px;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
nav ul li:hover a:before{
    width: 100%;
}

.logo{
    font-family: "PresideBold";
    font-size: 2em;
}
.logo a:before{
    content: "";
    width: 0px;
    height: 0px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
.logo:hover a:before{
    width: 0%;
}
/*-----------------Ubicacion-----------------*/
.aqui a:before{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
/*-----------------Contenedor-----------------*/
.contenedor{
    background-color: rgba(237, 214, 146, 0.9);
    width: 60%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 8%;
    padding: 15px;
    margin-bottom: 15%;
}
.contenedor .dinero {
    background-color: #6797A1;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    color: #fff;
}
.contenedor .contenido{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10%;
    margin-top: 10%;
}
.contenido h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
/*----------------Derecha----------------*/
.contenedor .contenido2{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}
.contenido2 h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.inn2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-top: 6%;
}
.inn22{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.inn_2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio2{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
    margin-top: 10%;
    margin-top: 1%;
}
.envio2:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.sub{
    margin-top: -10%;
    float: left;
    color: #6797A1;
}

    #mostrar{
        display: none;
    }  
/*----------------------Mostrar Info----------------------*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   float: left;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #D4DBC8;
   color:#333;
   border-radius: 3px;
   width:75%;
    margin-left: 6%;
    
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.informacion{
    text-decoration: none;
    background-color: #66BB6A;
    border: none;
    padding: 8px;
    font-size: 1em;
    color: #fff;
    transition: 0.5s ease-out;
    
    }
    .modal-info{
        position: relative;
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        
    }
    .MInfoc{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfoc h2{
            text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    .MInfot{
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfot h2{
             text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    
}

@media screen and (max-width:550px) and (min-width:10px){

/*-----------------Cuerpo-----------------*/
body{
    font-family: "Century Gothic";
    background-image: url(../img/5.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
 nav{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10%;
}
 nav ul li{
    list-style: none;
    display:block;
    padding: 15px;
    font-size: 1.2em;
 }
li:hover{
    background-color: rgba(112, 141, 185, 0.8);
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.btn_logo{
    font-family: "PresideBold";
    font-size: 2em;
    text-align: center;
    transition: 0.5s ease-out; 
    color: #fff;
    background-color: rgba(73, 97, 160, 0.8);
}

/*-----------------Ubicacion-----------------*/
.aqui a:before{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#fff;
    position: absolute;
    top: 110%;
    left: 0;
    transition: 0.5s;
}
/*-----------------Contenedor-----------------*/
.contenedor{
    background-color: rgba(237, 214, 146, 0.9);
    width: 90%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 22%;
    padding: 15px;
    margin-bottom: 15%;
}
.contenedor .dinero {
    background-color: #6797A1;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    color: #fff;
}
.contenedor .contenido{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10%;
    margin-top: 10%;
}
.contenido h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 35%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
/*----------------Derecha----------------*/
.contenedor .contenido2{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}
.contenido2 h2{
    text-align: center;
    margin-bottom: 5%;
}
.inn{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
}
.envio{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
}
.envio:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.inn2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
    margin-top: 6%;
}
.inn22{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.inn_2{
    padding: 8px;
    border: 2px solid #6797A1;
    background-color: transparent;
    width: 60%;
    display: block;
    margin: auto;
    font-family: "Century Gothic";
    color: #000;
}
.envio2{
    background-color: rgba(48, 82, 116, 0.8);
    border: none;
    padding: 8px;
    font-size: 1em;
    width: 70%;
    display: block;
    margin: auto;
    color: #fff;
    transition: 0.5s ease-out;
    margin-top: 10%;
    margin-top: 1%;
}
.envio2:hover{
    background-color: rgba(48, 114, 237, 0.7);

}
.sub{
    margin-top: -10%;
    float: left;
    color: #6797A1;
}

.oculto{
    display: none; 
}
#mostrar{
    box-sizing: border-box;
}

/*----------------------Mostrar Info----------------------*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   float: left;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #D4DBC8;
   color:#333;
   border-radius: 3px;
   width:62%;
   margin-left: 6%;
   
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.informacion{
    text-decoration: none;
    background-color: #66BB6A;
    border: none;
    padding: 8px;
    font-size: 1em;
    color: #fff;
    transition: 0.5s ease-out;
    
    }
    .modal-info{
        position: relative;
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        
    }
    .MInfoc{
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfoc h2{
            text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    .MInfot{
        float: left;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E7E7DE;
        height: 160px;
    }
        .MInfot h2{
             text-align: center;
            background-color: #00587A;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            margin-bottom: 2%;
        }
    
 
}


